.contentContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 15px 30px; }

form input {
  margin: 0 0 20px !important;
  border-radius: 0 !important;
  padding: 8px 12px !important; }

form button {
  padding: 8px 12px;
  background: #003cff;
  color: #fff;
  outline: none;
  border: none; }
  form button:hover {
    background: #003cda; }
